*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
}
.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  background-color: aqua;
  font-size: 20px;
}
.main-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#root{
  height: 100%;
}
.profile_wrapper{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 5fr;
}
.box_profile{
  height: 80vh;
  background-color: #fff;
  background-color: #2d7de6;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}